/* Navbar */
.navbar {
    background-color: #0A3400; 
     /* Para que el navbar esté por encima de los demás elementos , lo defino asi para evitar problemas con los modal*/
}
.navbar-brand {
    font-family: 'rowdies', cursive;
    font-size: 3rem;
    margin: auto; /* Para centrar el logo */
    color: #FFFFFF;
}

.shopping-cart {
    width: 2rem; /* Para que el icono no se vea tan grande */
    margin: 0 1rem; /* Para separar el icono del texto */
}

.profile {
    width: 2rem;
}

/* modal */
.modal{
    z-index: 15000; /* lo defino mas alto que el navbar para que no se superponga */  
}

.modal-header {
    background-color: #0A3400;
    color: #FFFFFF;
    display: flex;
}
.modal-title {
    font-family: 'rowdies', cursive;
    font-size: 2rem;
    /*centrar el titulo del modal*/
    display: flex;
    justify-content: center;
    align-items: center;

}
/*barra de busqueda*/
.buscar{
    max-width: 90vw;
}
/*Filtro*/

.boton-filtro{
    background-color: transparent;
    color: #000000;
    border: none;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
}
.form-check-input:checked {
    background-color: #007bff;
    border-color: #007bff;
  }
.flecha-abajo{
   width: 3rem;
}

/*seccion de categorias*/
.contenedor-categoria{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 8rem;
    height: 8rem;
    border-radius: 50%;
    border: 1px solid black;
}

.contenedor-categoria img {

    width: 4rem;
    height: 4rem;
}

.contenedor-categoria h3 {
    margin-top: 0.5rem;
    font-weight: bold;
    text-align: center;
}

/*sidebar*/

.boton-filtro{
    width: 100%;
}
.contenedor-dropdown{
    padding: 0,5rem;
    border: #000000 solid 1px;
}
/*Productos*/

.producto{
    margin: 1rem;
    padding: 1rem;
    border-radius: 1rem;
    width: 15rem;
    height: 25rem;
}

@media screen and (max-width: 575px) {
    .producto{
        margin: 2rem;
        padding: 1rem;
        border-radius: 1rem;
        width: 100vw;
        height: 40rem;
    }  
}

footer {
    background-color: #50734D;
    color: #FFFFFF;
    text-align: start;
    width: 100%;
}