/* Style the links inside the sidenav */
#mySidenav{
    position: fixed;
    z-index: 1000;
    top: 40%;
}

#mySidenav a {
    position: absolute;
    left: -105px;
    transition: 0.3s; /* Add transition on hover */
    padding: 15px; /* 15px padding */
    width: 155px; /* Set a specific width */
    height: 50px; /* Set a specific height */
    text-decoration: none; /* Remove underline */
    font-size: 20px; /* Increase font size */
    color: white; /* White text color */
    border-radius: 0 5px 5px 0; /* Rounded corners on the top right and bottom right side */    
    ;
  }
  
  #mySidenav a:hover {
    left: 0; /* On mouse-over, make the elements appear as they should */
  }
  
  /* The about link: 20px from the top with a green background */
  #inventario {
    top: 20px;
    background-color: #029962;
  }
  
  #pedidos {
    top: 80px;
    background-color: #029962; 
  }
  
  #usuarios {
    top: 140px;
    background-color: #029962; 
  }
.text-sidebar{
    font-size: 1.2rem;
}
.img-sidebar{
    width: 1rem;
  }

/*carousel*/
.carousel-item img {
    max-height: 90vh;  /* para que se vea proporcional al espacio de la navbar */
    width: auto; /* Para mantener la proporción de aspecto */
  }

.boton-sabermas {
    background-color: transparent;
    border: none;
}
.boton-sabermas a {
    color: #FFFFFF;
    text-decoration: none;
}

/*cards*/
.lista-categorias {
    margin-top: 3rem; /* Para separar las categorías del carousel */
    
}
.card img {
    display: block; /* Para centrar la imagen */
    margin: 2rem auto; 
    max-height: 10rem; /* Para que las imágenes no se vean tan grandes */
    width: 7rem; /* Para mantener la proporción de aspecto */
}

/*footer*/
footer {
    background-color: #2B2B2B;
    color: #FFFFFF;
    text-align: start;
    width: 100%;
}
